@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  min-height: 100vh;
  background-color: #050a08;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .app {
  font-family: "Kanit", sans-serif;
  margin-top: -150px;
}
body .app input, body .app button {
  font-family: "Kanit", sans-serif;
}

.todoInput {
  box-shadow: rgba(82, 170, 183, 0.1803921569) 0px 0px 50px 0px;
  display: flex;
  padding: 10px 20px;
  background: #357e7b;
}
.todoInput .todoInput_isDone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.todoInput .todoInput_isDone div {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid white;
}
.todoInput .todoInput_input input {
  border: none;
  background: none;
  padding: 10px;
  width: 500px;
  color: #dbf0e2;
  font-size: 16px;
}

.todoItem {
  display: flex;
  padding: 5px 20px;
  width: 580px;
  border-bottom: 1px solid white;
  background: #357e7b;
}
.todoItem .todoItem_checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.todoItem .todoItem_checkbox input {
  cursor: pointer;
  margin-left: 0px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid white;
}
.todoItem input {
  cursor: default;
  border: none;
  background: none;
  padding: 10px;
  width: 600px;
  color: #dbf0e2;
  font-size: 16px;
}
.todoItem input:checked {
  background: #93d2a6;
}
.todoItem .checked {
  text-decoration: line-through;
}
.todoItem .todoItem_delete {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.todoItem .todoItem_delete img {
  height: 25px;
  width: 25px;
}
.todoItem .todoItem_edit {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todoItem .todoItem_edit img {
  height: 20px;
  width: 20px;
}

.todos {
  margin-top: 50px;
  border-radius: 20px;
  box-shadow: rgba(82, 170, 183, 0.1803921569) 0px 0px 50px 0px;
}

.background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 40%;
  z-index: -2;
}
.background img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 30px;
  font-size: 30px;
}
.title h1 {
  width: -moz-min-content;
  width: min-content;
  color: white;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.title h1 span {
  font-weight: 600;
  margin-right: 10px;
}

.todoFilter {
  color: white;
  background: #357e7b;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.todoFilter .todoFilter_lefts {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 100%;
}
.todoFilter button {
  border: none;
  cursor: pointer;
  background: none;
  color: white;
}
.todoFilter .todoFilter_filters {
  z-index: 10;
}
.todoFilter .todoFilter_filters button {
  cursor: pointer !important;
  margin: 0px 5px;
}

*, *:before, *:after {
  outline: none;
  box-sizing: border-box;
  outline: none;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}/*# sourceMappingURL=style.css.map */